.footer{
    background-color: #323232;
width: 100%;
height: 125px;
}
.footer__list{
    justify-content: center;
    display: flex;
}
.footer__title{
    margin-left: 25px;
    padding-top: 40px;
    text-decoration: none;
     list-style: none;
}
.footer__link{
    color: white;
}
.footer__suptitle{
    color: #DCDCDC;
    text-align: center;
    padding-top: 22px;
    justify-content: center;
}