@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import './projects.css';
@import './news.css';


.body {
    font-family: Roboto;
}
.container {
max-width: 825px;
margin: auto;
display: flex;
}
.col-6 {
    min-width: 428px;
    margin-top: 100px;
    background-color:#E5E5E5;
}
.col-4 {
    min-width: 255px;
    margin-right: 42px;
}
a {
    text-decoration: none;
  }
